<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fake Backend</title>
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/> -->
  <link rel="icon" sizes="32x32" href="/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cyborg/bootstrap.min.css"/>
</head>
<body>
  <main class="container">
    <div class="jumbotron text-center">
      <h2>Fake Backend</h2>
    </div>
    {{{body}}}
  </main>
</body>
</html>
